@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
}
.nav_link {
    position: relative;
    display: inline;
    color: #fff;
    font-size: 20px;
    top: 15px;
    padding: 1%;
    height: 60px;
    background-color: #1C3F94;   
}
.nav_link:hover {
    background-color: #163174;
}
.logo {
    position: absolute;

}
header {
    width: 100%;
    height: 60px;
    background-color: #1C3F94;
    text-align: center;
}
section {
    padding: 1%;
    margin: 2%;
    border-radius: 15px;
    background-color: #EEF2F4;
}
.block_content {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.title_ {
    color: #0087E5;
    padding-top: 2%;
}
.trans_nav {
    display: inline;
    text-decoration: none;
    padding: 1%;
    height: 20px;
    background-color: #fff;
    color: #000;
}
.trans_nav:hover {
    color: #0087E5;
    text-decoration: underline;
}
.trans_selected {
    color: #0087E5;
    text-decoration: underline;
}
.transport_ {
    margin-top: 1%;
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 1%;
    border-radius: 15px 15px 0 0;
}
button {
    text-decoration: none;
    border: none;
    font-size: 20px;
    padding: 1%;
}
.back_link {
    color: #0087E5;
    padding-left: 5px;
    padding-right: 5px;
}
.back_link:hover {
    color: #fff;
    background-color: #0087E5;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.content_block {
    margin: 2%;
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
}
h3 {
    margin-bottom: 1%;
}
.route_number_bus {
    width: 20px;
    height: 20px;
    background-color: #F4B427;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin: 1%;
}
.route_number_bus:hover {
    background-color: #DCE3E6;
    color: #000;
}
.route_number_troll {
    width: 20px;
    height: 20px;
    background-color: #009DE0;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin: 1%;
}
.route_number_troll:hover {
    background-color: #DCE3E6;
    color: #000;
}
.route_number_tram {
    width: 20px;
    height: 20px;
    background-color: #FF000C;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin: 1%;
}
.route_number_tram:hover {
    background-color: #DCE3E6;
    color: #000;
}